* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: arial;
  min-height: 100vh;
}

.coin-app {
  flex-wrap: nowrap;
  padding: 0 0 1rem 0;
  margin: 2rem 2rem 5rem 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #090f306e;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: .1rem solid #f1f1f15d;
  box-shadow: 15px 15px 20px #070b1dbd;
  border-radius: .5rem;
}

.coin-search {
  padding: 1rem;
  margin: 1rem 0;
  width: 100%;
  border-radius: .5rem;
}

.coin-text {
  text-shadow: .2rem .2rem .2rem #070b1d;
  color: #ffff;
  padding: 0 0 1rem 0;
}

.search-input {
  box-shadow: 5px 5px 10px #070b1dbd;
  color: #ffff;
  border-radius: .5rem;
  width: 70%;
  padding: .7rem 2rem;
  background-color: #1711536e;
  border: .05rem solid #f1f1f148;
  outline: none;
} .search-input::placeholder {
  color: #ffff;
}

.coin-row {
  box-shadow: 10px 10px 15px #070b1dbd;
  color: #fff;
  font-weight: bold;
  background-color: #090f304d;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: .5rem;
  border: .1rem solid #f1f1f1c7;
}
.coin {
  text-shadow: .2rem .2rem .2rem #070b1d;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-radius: .5rem;
  gap: 1rem;
  font-size: 1.2rem;
}
.coin img {
  width: 2.7rem; 
}

.coin-data {
  display: flex;
  gap: 1rem;
  text-shadow: .2rem .2rem .2rem #070b1d;
  box-shadow: 2px 2px 5px #070b1dbd;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: .9rem;
  border: .1rem solid #f1f1f160;
  padding: .7rem 1rem;
  border-radius: .5rem;
}

.red {
  color: #f00606;
}

.green {
  color: #53eb67;
}

.table-coins {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 1150px) {
  body {
    background-image: url(./images/background.png);
    background-size:cover;
  }

  .table-coins {
    display: grid;
    grid-template-columns:  1fr;
  }
}

@media (max-width: 590px) {

  .coin-text {
    font-size: 1.5rem;
  }
  .search-input {
    width: 85%;
  }
  .coin img {
    width: 1.8rem; 
  }
  .coin-row {
    width: 17rem;
  }
  .coin-data {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 325px) {
  .nav {
    display: none;
  }

  .coin-text {
    font-size: 1.3rem;
  }
  .search-input {
    width: 90%;
    padding: .6rem 1rem;
  }

  .coin {
    font-size: 1rem;
    flex-direction: column;
  }
  .coin-row {
    width: 10rem;
  }
  .coin-data {
    width: 8.5rem;
    padding: .5rem;
    font-size: .72rem;
    flex-direction: column;
    align-items: flex-start;
  }
}